<section class="vcard">
    <div class="column-group content-center content-nocenter-large gutters">
        <div class="large-100 small-100 medium-100">
            <a href="{{ url_for('blog') }}">
                <img src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="Diogo's avatar" id="avatar">
            </a>
        </div>

        <div class="large-100 smal-100 medium-100">
            <h6>Diogo Osório</h6>

            <p class="small">
                <em>Developer, geek, idiot, web aficionado</em>
            </p>
        </div>

        <div class="gray large-100 small-100 medium-100">
            <ul id="social-icons" class="unstyled">
                <li>
                    <a href="http://github.com/diogoosorio" target="_blank">
                        <i class="icon-github-sign icon-very-large"></i>
                    </a>
                </li>

                <li>
                    <a href="http://www.linkedin.com/in/diogoosorio" target="_blank">
                        <i class="icon-linkedin-sign icon-very-large"></i>
                    </a>
                </li>

                <li>
                    <a href="http://facebook.com/diogoosorio" target="_blank">
                        <i class="icon-facebook-sign icon-very-large"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="large-100 small-100 medim-100 show-all hide-large">
            <hr>
        </div>
    </div>
</div>
</section>
