{% extends 'ink/base.html' %}

{% set default_description = 'Personal thoughts and rants about programming, web development, entreperneurship and whatever else I happen to think about everyday.' %}
{% set default_kyewords = 'web development, programming, Diogo Osório, product, entreperneurship, php, python' %}
{% set default_title = 'Web, Software, Ideas, Rants' %}

{% block title %}
    {{ title|default(default_title) }}
{% endblock %}

{% block metas %}
    {{ super() }}
    <meta name="description" content="{{ description|default(default_description) }}">
    <meta name="keywords" content="{{ keywords|default(default_keywords) }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="author" href="https://plus.google.com/110545714785609730327">

    <meta property="og:title" content="{{ title|default(default_title) }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:description" content="{{ description|default(default_description) }}">
    <meta property="fb:admins" content="100000054831465">

    <meta name="twitter:url" content="{{ request.url }}">
    <meta name="twitter:title" content="{{ title|default(default_title) }}">
    <meta name="twitter:description" content="{{ description|default(default_description) }}">

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45980038-1', 'diogoosorio.com');
      ga('send', 'pageview');
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}

    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300italic,700|Lato:400italic' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='stylesheets/monokai_sublime.css') }}" media="screen" rel="stylesheet" type="text/css" charset="utf-8">
    <link href="{{ url_for('static', filename='stylesheets/style.css') }}" media="screen" rel="stylesheet" type="text/css" charset="utf-8">
{% endblock %} 

{% block nav_bar %}
    {% include 'partials/navigation.html' %}
{% endblock %}

{% block content %}
<div class="ink-grid">
    <div class="column-group gutters">
        <div class="all-100 large-20 xlarge-20">
            <aside id="sidebar">
                {% include 'partials/sidebar.html' %}
            </aside>
        </div>
        <div class="all-100 large-80 xlarge-80">
            {% block blog_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='javascript/highlight.pack.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/app.js') }}"></script>
<script type="text/javascript">
    var disqus_shortname = '{{ config['DISQUS_SHORTNAME'] }}';
    (function() {
        var files = ['embed.js', 'count.js'];

        for (var i = 0; i < files.length; i++) {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/' + files[i];
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }
    })();
</script>
{% endblock %}
