<article id="my-article">
    <header class="second-anchor-transition">
        <a href="{{ url_for("blog_detail", post_name=entry['meta']['slug']) }}">
            <h1>{{ entry['meta']['title'] }}</h1>
            <p>
            <time datetime="{{ entry['meta']['create_date'].strftime('%Y-%m-%dT%H:%M:%S') }}" pubdate>
                {{ entry['meta']['create_date'] }}
            </time>
            </p>
        </a>
    </header>

    <div class="content">
        {{ entry['meta']['excerpt']|safe }}
    </div>

    <footer class="second-anchor-transition">
        <div class="column-group gutters">
            <div class="xlarge-30 large-30 medium-40 small-50">
                <a class="green" href="{{ url_for("blog_detail", post_name=entry['meta']['slug']) }}">
                    Full entry
                    <i class="icon-chevron-right"></i>
                </a>
            </div>

            <div class="xlarge-70 large-70 medium-60 small-50 align-right">
                <a class="green" href="{{ url_for("blog_detail", post_name=entry['meta']['slug']) }}#disqus_thread"></a>
            </div>
        </div>
    </footer>
</article>
