{% extends 'ink/base.html' %}

{% set default_description = 'Personal thoughts and rants about programming, web development, entreperneurship and whatever else I happen to think about everyday.' %}
{% set default_kyewords = 'web development, programming, Diogo Osório, product, entreperneurship, php, python' %}
{% set default_title = 'Web, Development, Ideas, Rants | Diogo Osório' %}

{% block title %}
    {{ title|default(default_title) }}
{% endblock %}

{% block metas %}
    {{ super() }}
    <meta name="description" content="{{ description|default(default_description) }}">
    <meta name="keywords" content="{{ keywords|default(default_keywords) }}">

    <!-- G+ -->
    <link rel="author" href="https://plus.google.com/110545714785609730327">

    <!-- Facebook -->
    <meta property="og:title" content="{{ title|default(default_title) }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ request_url }}">
    <meta property="og:description" content="{{ description|default(default_description) }}">
    <meta property="fb:admins" content="100000054831465">

    <!-- SO MANY SOCIAL NETWORKS, WHO THE FUCK WILL USE THIS ANYWAY? -->
    <meta name="twitter:url" content="{{ request.url }}">
    <meta name="twitter:title" content="{{ title|default(default_title) }}">
    <meta name="twitter:description" content="{{ description|default(default_description) }}">
{% endblock %}

{% block styles %}
    {{ super() }}

    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300italic,700|Lato:400italic' rel='stylesheet' type='text/css'>
    <link href="{{ load_asset('stylesheets/rainbow-solarized-dark.css') }}" media="screen" rel="stylesheet" type="text/css" charset="utf-8">
    <link href="{{ load_asset('stylesheets/style.css') }}" media="screen" rel="stylesheet" type="text/css" charset="utf-8">
{% endblock %} 

{% block nav_bar %}
    {% include 'partials/navigation.html' %}
{% endblock %}

{% block content %}
<div class="ink-grid">
    <div class="column-group gutters">
        <div class="large-20 medium-100 small-100">
            <aside id="sidebar">
                {% include 'partials/sidebar.html' %}
            </aside>
        </div>
        <div class="large-60 medium-100 small-100">
            {% block blog_content %}{% endblock %}
        </div>
        <div class="large-20 hide-all show-large"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ load_asset('javascript/app.js') }}"></script>
<script src="{{ load_asset('javascript/rainbow-custom.min.js') }}" async="true"></script>
<script type="text/javascript">
    var disqus_shortname = '{{ config['DISQUS_SHORTNAME'] }}';
    (function() {
        var files = ['embed.js', 'count.js'];

        for (var i = 0; i < files.length; i++) {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/' + files[i];
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }
    })();
</script>
{% endblock %}
