{% extends 'base.html' %}
{% block blog_content %}
<section class="blogroll">
    <div class="column-group gutters vertical-space">
        <div class="large-100 medium-100 small-100">
            {% for entry in entries %}
                {% include 'partials/blog/entry.html' %}
            {% endfor %}
        </div>

        <nav class="ink-navigation push-right subtract-top-margin">
            <ul class="pagination black rounded shadowed separated push-right">
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li class="next">
                    <a href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
{% endblock %}
