{% extends 'base.html' %}
{% block blog_content %}
<section>
    <div class="column-group gutters vertical-space">
        <div class="large-100 medium-100 small-100">
            <article id="my-article">
                <header>
                    <a href="#">
                        <h1>No man, I don't eat pork</h1>
                        <p>
                            <time datetime="2013-11-02T19:46+00:00" pubdate>02 February 2013</time>
                        </p>
                    </a>
                </header>

                <div class="content">
                    <p>My money's in that office, right? If she start giving me some bullshit about it 
                    <a href="#">ain't there, and we got to go someplace else</a> and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? </p>

                    <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>

                <footer class="second-anchor-transition">
                    <div class="colum-group ">
                        <div class="large-30 medium-40 small-50">
                            <a class="green" href="#">
                                Read article
                                <i class="icon-chevron-right"></i>
                            </a>
                        </div>

                        <div class="large-70 medium-60 small-50 content-right">
                            <ul class="unstyled inline-list gray">
                                <li>
                                    <a href="#">Development</a>
                                </li>
                                <li>
                                    <a href="#">PHP</a>
                                </li>    
                            </ul>
                        </div>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</section>
{% endblock %}
