<div class="column-group align-center gutters">
    <div class="all-100">
        <a href="{{ url_for('blog') }}">
            <img src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="Diogo's avatar" id="avatar">
        </a>
    </div>

    <div class="all-100">
        <h6>Diogo Osório</h6>

        <p class="small">
            <em>I build stuff for the web</em>
        </p>
    </div>

    <div class="gray all-100">
        <ul id="social-icons" class="unstyled inline-list">
            <li>
                <a href="http://github.com/diogoosorio" target="_blank">
                    <i class="icon-github-sign icon-very-large"></i>
                </a>
            </li>

            <li>
                <a href="http://www.linkedin.com/in/diogoosorio" target="_blank">
                    <i class="icon-linkedin-sign icon-very-large"></i>
                </a>
            </li>

            <li>
                <a href="http://facebook.com/diogoosorio" target="_blank">
                    <i class="icon-facebook-sign icon-very-large"></i>
                </a>
            </li>
            <li>
                <a href="{{ url_for('rss') }}">
                    <i class="icon-rss-sign icon-very-large"></i>
                </a>
            </li>
        </ul>
    </div>

    <hr class="show-all hide-large hide-xlarge">
</div>
