body {
    color: #555;
    font-family: 'Merriweather', serif;
}

hr {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.second-anchor-transition a {
    transition: all 1s ease;
}

.blogroll article {
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3em;
    margin-top: 3em;
}

.blogroll article:first-child {
    margin-top: 0;
}

.blogroll article:last-child {
    border-bottom: none;
}

article header a {
    color: #383838;
}

article header h1,
article header h1:hover {
    color: inherit !important;
}

article header a:hover {
    color: #25947C;
    text-decoration: none;
}

article .content p {
    font-weight: 200;
    line-height: 2.3em;
    margin-bottom: 3em;
    font-size: 1.1em;
}

article .content p a,
a.green {
    color: #25947C;
}

article footer {
    background: none;
    border: none;
}

@media screen and (min-width: 960px) {
    .content-nocenter-large {
        text-align: inherit;
    }
}

@media screen and (min-width: 650px) and (max-width: 959px) {
}

@media screen and (max-width: 649px) {
}

#avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    overflow: hidden;
    transition: all 1s ease;
}

#avatar:hover {
    border-radius: 0%;
    -moz-border-radius: 0%;
    -webkit-border-radius: 0%;
}

.gray a {
    font-family: inherit;
    color: inherit;
    color: #999;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
}

.gray a.active {
    color: #383838;
}

.gray a:hover {
    color: #383838;
    text-decoration: none;
}

.lato {
    font-family: 'Lato', Arial, sans-serif;
}

.border-bottom {
    border-bottom-width: 1px solid;
    border-bottom-style: solid;
}

.icon-very-large {
    font-size: 2em;
}

#navbar {
    border-color: #eeeeee;
    margin-bottom: 2em;
}

.inline-list li {
    display: inline;
    margin: 0 0.3em;
}

#social-icons li:first-child {
    margin: 0 0.3em 0 0;
}

.ink-navigation ul.separated li {
    margin: 0 0.2em;
}

.subtract-top-margin {
    margin-top: 0;
}

ul.pagination.rounded.separated li:last-child,
ul.pagination.rounded.separated li:first-child,
ul.pagination.rounded.separated li,
ul.pagination.rounded.separated li a:hover {
    border-radius: 4px;
}

ul.pagination.rounded.separated li a {
    padding: 0.3em 0.6em;
}
