#!/usr/env/python
# -*- coding: utf-8 -*-

import os

environment = os.environ.get('ENVIRONMENT')
environemnt = environment.lower() if environment is not None else 'production'

Settings = dict()
Settings = {
    'DEBUG': False,
    'TESTING': False,
    'SECRET_KEY': 'sample-secret-key',
    'SESSION_COOKIE_DOMAIN': 'diogoosorio.com',
    'SESSION_COOKIE_HTTPONLY': True,
    'SESSION_COOKIE_SECURE': False,
    'SERVER_NAME': 'diogoosorio.com',
    'INK_ASSET_MINIFY': True,
    'INK_ASSET_VERSION': '2.2.1',
    'INK_ASSET_DEFAULT_LOCATION': 'local',
    'ENVIRONMENT': environment,
    'CACHE_TYPE': 'simple',
    'CACHE_DEFAULT_TIMEOUT': 25,
    'CACHE_KEY_PREFIX': 'diogoo_blog_',
    'CACHE_DIR': '/tmp/diogoosorio.com/cache'
}

if environment == 'development':
    Settings['DEBUG'] = True
    Settings['TESTING'] = True
    Settings['SESSION_COOKIE_DOMAIN'] = None,
    Settings['SERVER_NAME'] = None
    Settings['HOST'] = '0.0.0.0'
    Settings['INK_ASSET_MINIFY'] = False
    Settings['CACHE_TYPE'] = 'null'
